<div class="row">
  <div class="col s12">
    <%= form_for([@article, @article.comments.build]) do |f| %>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <%= f.text_field :commenter, :class => "validate" %>
            <%= f.label :commenter %><br>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">insert_comment</i>
            <%= f.text_area :body, :class => "materialize-textarea" %>
            <%= f.label :body %><br>
          </div>
        </div>
        <%= f.submit :class => "waves-effect waves-light btn blue"%>
    <% end %>
  </div>
</div>