<nav>
  <div class="nav-wrapper grey darken-3">
    <ul class="left">
      <li>
        <%= link_to articles_path do %>
            <i class="material-icons left">chevron_left</i>Back
        <% end %>
      </li>
    </ul>
    <a class="brand-logo center">Show Article</a>
    <ul class="right">
      <li>
        <%= link_to edit_article_path(@article) do %>
            <i class="material-icons left">mode_edit</i>Edit
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1><%= @article.title %></h1>
  <p>
    <%= @article.text %>
  </p>
</div>
<div class="divider"></div>
<div class="container">
  <div class="section">
    <h4>Comments</h4>
  </div>
  <div class="divider"></div>
  <div class="section">
    <%= render @article.comments %>
  </div>
</div>

<div class="container">
  <div class="section">
    <h4>Add a comment:</h4>
  </div>
  <div class="divider"></div>
  <div class="section">
    <%= render "comments/form" %>
  </div>
</div>